@import 'scss/vars';

.settings_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0px 10px 20px;
  font-size: 14px;
  background-color: $black;
  list-style: none;
  li {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    align-items: center;
  }
  &_last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@mixin description-styles {
  background-color: black;
  color: $light-gray;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 10px;
}

.description_bool {
  @include description-styles;
  &_false {
    @include description-styles;
    color: rgba($light-gray, .3);
  }
}
